# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
runs
/LegendaryTooltipsGuide.txt
/TooltipOverhaulWiki.txt
/VanillaAdvancements.txt
/neoforge/.eclipse/configurations/NeoForge Client (
/neoforge/.eclipse/configurations/NeoForge Data (
/neoforge/.eclipse/configurations/NeoForge Server (
/.gradle-user-home/
